#quiz {
    margin-left:0px;
    background:#ffffff4f;
    padding:10px 20px 10px 20px;
    width:device-width;
    border-radius:20px;
    float:left;
}


h1 {
    text-align:center;
}


#input {
    display:block ;
    
}

body{
    color: white;
    font-size: 30px;
}



#textbox {
    height:22px;
    width:120px;
    font-size:16px;
    border-radius:5px;
    border:none;
    padding-left:5px; 
}

form{
    height: 500px;
}
form p{
    color: white;
    font-size: 30px;

}

#button {
    background:rgba(7, 180, 248, 0.671);
    border:none;
    border-radius:5px;
    padding:10px;
    color:white;
    font-size:16px;
    transition-duration:.5s;
    margin-top:15px;
}



#button:hover {
    background:white;
    border:1px solid green;
    color:black;
    cursor:pointer;
   
}


#after_submit {
    visibility:hidden;
    background:#d6f3fa94;
    color: white;
    font-size: 40px;
    padding:5px 5 5px 5px;
    width:device-width;
    border-radius:20px;
    float:left;
    margin-left:20px;
    height: 500px;
    
}












